// Mobile first approach

// * {
//     margin-top: 0;
//     padding-top: 0;
// }


.web-app {
    display: none;
}

// responsive header
  
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  .mobile-logo img {
    height: auto;
    width: 30%;
    display: block; 
    }

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(177, 174, 174);
    display: block;
    position: absolute;
    right: 7px;
    top: 7px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

@media only screen and (min-width: 768px) {

header {
    border-bottom: 2px solid #cfcfcf;
    box-shadow: 3px 3px 2px rgb(250, 249, 249);
}

.topnav {
    display: none;
}

.web-app {
    display: inline;
}

.logo img {
    height: auto;
    width: 30%;
    display: block; 
}


.header-nav ul li{
    list-style: none;
    float: left;
    padding: 20px;
    margin-top: 28px;
  
}

.top-nav ul li{
    list-style: none;
    float: left;
    margin-left:20px;
}

// Need to work on this
.cart-icon {
    display: none;
    font-size: 200%;
    margin-right: 5px;
    vertical-align: middle;
}

.btn {
    display: none; //wrong, need to work on this
    width: 20%;
    margin-top: 5%;
    margin-left: 10%;
    height: auto;
    padding: 2%;
    background-color: grey;
    opacity: 0.7;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-bottom: -15px;
    
}
}