$color-lightgray: #cfcfcf;
$color-denim: #1a76ac;
$color-oldrose: #BF2857;
$color-white: #fff;
$color-grey: #808080;
$color-darkgray: #a6a6a6;
$color-whitesmoke: #f2f2f2;
$color-darkpink: #ec536c;
$color-black: #000000;
$color-red: #ff0000;
$color-prim: #EADAE4;
$color-silver: #bbb;
$color-empress: #737373;
$color-boulder: #7B847B;