*{
    font-family: 'Dosis','Arial';
    font-size: 18px;
}

.navigate ul li{
    list-style: none;
    float: left;
    padding: 20px;
    margin-top: 28px;
}

.navigate2 ul li{
    list-style: none;
    float: left;
    margin-left:20px;
}

header {
    border-bottom: 2px solid #cfcfcf;
    box-shadow: 3px 3px 2px rgb(250, 249, 249);
}

.sabka-bazar-logo img {
height: auto;
width: auto;
float: right;
}

.row .xyz{
    margin-top: 0;
    padding-top: 0;

}

.icon-big {
    font-size: 200%;
    margin-right: 5px;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    width: 20%;
    margin-top: 5%;
    margin-left: 10%;
    height: auto;
    padding: 2%;
    background-color: grey;
    opacity: 0.7;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-bottom: -15px;
    
}

.btn-text{
    vertical-align: center;
}

.section-form {
    width: 60%;
    margin: 0 auto;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #cfcfcf;
    padding-top: 10px;  
}

input:hover, input:active {
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #1a76ac;
    
}

 .btn-login {
    display: inline-block;
    width: 77%;
    background-color: rgb(214, 68, 92);
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;

}

footer {
    background-color: grey;
    opacity: 0.7;
}

footer p {
    padding: 20px;
    margin-left: 19%; 
}

label {
    font-size: 70%;
    color: #1a76ac;
}

.section-form {
    margin-top: 50px;
}

.form-input {
    padding: 15px;
}

/*********** plp styles *************/

.section-plp {
    width: 68%;
    margin: 0 auto;
}

.sidebar {
    background-color: rgb(241, 241, 241);
    height: 100vh;
}

.sidebar ul {
    padding-left: 10px;
}

.sidebar ul li {
    border-bottom: 1px solid grey;
    list-style: none;
    padding: 10px;

}


.item img {
    width: 100%;
}

.item p {
    background-color:rgb(241, 241, 241);
}

.item {
box-sizing: border-box;
border-bottom: 1px dotted rgb(241, 241, 241);
border-right: 3px solid rgb(241, 241, 241);
padding: 5px;
}

.price-tag a {
    background-color: rgb(238, 92, 116);
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-left: 2px;
}

@media only screen and (max-width: 600px) {
    .item {
        width: 100% !important;
    }
}

/*********** end of plp styles *************/

/*********** start of cart styles *************/
* {
    font-family: 'Dosis','Arial';
    font-size: 18px;
}

.shopping-cart {
    width: 450px;
    float: right;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
}

.shopping-cart-header {
    padding-bottom: 15px;
    background-color: rgb(56, 55, 55);
    color: white;
}

.shopping-cart-header p{
    padding-left: 15px;
    padding-top: 15px;
    height: 5px;
}

.apple-logo img {
    height: 70px;
    width: auto;
    float: left;
}

.shopping-cart-items {
    background-color: rgb(255, 253, 253);
    box-sizing: border-box;
    margin-top: 10px;
}

.shopping-cart-items .apple-logo {
    margin-left: 2px;
    margin-top: 2px;
    /* padding-top: 20px; */
    
}

.shopping-cart-items p {
    margin-left: 100px;
    
}

.shopping-cart-items i {
    margin-left: 1px;
}

.shopping-cart-header .icon-close {
    font-size: 35px;
    float: right;
    margin-top: -32px;
    padding-right: 15px;
    color: rgb(229, 226, 226);
}


.shopping-cart-contents {
    background-color:rgb(229, 226, 226);
    margin-bottom: 40px;
}

.shopping-cart-items .icon-close {
    font-size: 25px;
}

.shopping-cart-items .icon-minus {
    margin-left: 25px;
}

.shopping-cart-items .minus-1 {

    margin-left: 15px;
 
}

.shopping-cart-items .plus-icon {
    margin-left: 15px;
 
}

.shopping-cart-items .icon-close {
    font-size: 40px;
    margin-left: 10px;
 
}

.shopping-cart-items .product-price {
    margin-left: 10px;
}

.shopping-cart-items .total-product-price {
    float: right;
    padding-top: 20px;
}

.lowest-price-gauranteed img {
    height: 40px;
    padding-top: 5px;
}

.shopping-cart .lowest-price-gauranteed {
    margin-top: 10px;
    background-color:  rgb(255, 253, 253);
    border: 2px solid white;
    border-radius: 2px;
    box-sizing: border-box;
    height: 70px;
    padding-top: 20px;
    margin-bottom: 400px;
    
    margin-left: 20px;
    margin-right: 20px;
}

.lowest-price-gauranteed .lowest-price-logo {
    margin-left: 2px;
    margin-top: 2px;
    float: left; 
    margin-top: 1px;
    /* padding-top: 20px; */
}


.footer-checkout {
    /* margin-bottom: 320px; */
    background-color: rgb(214, 68, 92);
    color: white;
    padding: 10px 0 20px 0;
    margin-left: 20px;
    margin-right: 20px;

}

.footer-checkout-bottom {
    background-color: white;
    box-sizing: border-box;
}

.footer-bottom p{
    text-align: center;
}

.footer-checkout .checkout-text-1{
   float: right;
}

/*********** end of cart styles *************/

/************ start of home styles **********/

* {box-sizing:border-box}


.title-text {
    float: left;
    margin-top: 4% !important;
    text-align: center;
}
.title-text h2 {
    margin-left: 4% ;
    font-size: 85%;
}


.title-text p {
    margin-top: 4%;
    font-size: 65%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.left-image img {
    height: 150px;
    width: auto;
   /*  width: 100%;
  height: auto; */
}


.btn-tile {
    display: inline-block;
    background-color: rgb(236, 83, 108);
    padding: 2%;
    text-decoration: none;
    color: white;
    margin-left: 4%;
    margin-top: 3%;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@media only screen and (max-width:1023px){
    .left-image img {
         width: 100%;
  height: auto; 
    }
}

/************ end of home styles **********/