
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.web-app {
    display: none;
}

// responsive header
  
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    margin: 4px;
  }

  
  .mobile-logo img {
    height: auto;
    width: 30%;
    display: block; 
    }

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 7px;
    top: 8px; 
  }

  .topnav a:focus {
    outline: none;
  }
  

@media only screen and (min-width: 768px) {

header {
    border-bottom: 1px solid #cfcfcf;
    box-shadow: 3px 3px 2px rgb(250, 249, 249);
}

// .top-nav nav{
//  margin-left: 30%;
// }

// .top-nav .btn{
//   margin-left: 36%;
//  }

.topnav {
    display: none;
    margin-left: 20px;
}

.web-app {
    display: flex;
}

// .logo img {
//     height: auto;
//     max-width: 100%;
//     display: block; 
//     margin-left: 35%; 
// }

.header-nav ul li { 
    list-style: none;
    float: left;
    padding: 20px;
    margin-top: 28px;
}

.header-nav ul li a{ 
    text-decoration: none;
    color: black;
}

.top-nav ul li{
    list-style: none;
    //float: left;
    //margin-left:25px;
    margin-bottom: 25px;
}

.top-nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0 7px;
}

// .cart-icon {
//     display: none;
//     font-size: 200%;
//     margin-right: 5px;
//     vertical-align: middle;
// }

// .btn {
//     display: inline-block;
//     width: 22%;
//     margin-left: 7%;
//     height: auto;
//     padding: 1%;
//     background-color: grey;
//     opacity: 0.7;
//     text-align: center;
//     text-decoration: none;
//     color: #000;
//     margin-bottom: -15px;
//     margin-top: 20px;
    
//     }

.cart {
  //text-align: center;
  background-color: grey;
  padding: 4px;
  

}

.btn-cart img {
  width: 30px;
  height: 30px;
}

.btn-cart a {
  text-decoration: none;
  color: black;
}

}
